<footer class="footer">
  <small>
    Check <a href="https://github.com/ked500"> My GitHub</a>
  </small>
  <ul>
    <li>About</li>
    <li><%= link_to "Contact", current_user %></li>
  </ul>
</footer>